[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jose = "*"
passlib = "*"
pydantic = "*"
typing = "*"
sqlalchemy = "*"
pypdf2 = "*"
requests = "*"
uvicorn = "*"
python-jose = "*"
python-multipart = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10.13"
